body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: cyan;
}
header{
    background-color: purple;
    color: blue;
    text-align: center;
    padding: 1em 0;/*La primera propiedad aplica arriba y abajo, y la segunda izquierda y derecha*/
}
main{
    padding: 20px;
    text-align: center;
}
footer{
    background-color: darkred;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}